{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row">
  <div class="span10 offset1">
    <h1>Ask Henry administrator page</h1>
    <p class="lead">
      Welcome, {{current_user.first_name}} {{ current_user.last_name }}
    </p>
    <p>
      There are currently {{ nrestos }} restaurants in the database.
    </p>
    <p>
      Most recent additions in the database
    <ul>
      {% for resto in newest %}
      <li>{{ resto.name }} [<a href='restaurant/edit/?id={{resto.id}}'>Edit</a>]</li>
      {% endfor %}
    </ul> 
    </p>
  </div>
</div>
{% endblock body %}