

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBUPyNKvbK6RwVSf0jNqsUkHrjBmW_TM4M"></script>
    <script type="text/javascript">

      $('#breakfast').on('click', function(){toggleRadio('breakfast','lunch', 'dinner')});
      $('#lunch').on('click', function(){toggleRadio('lunch','breakfast', 'dinner')});
      $('#dinner').on('click', function(){toggleRadio('dinner','lunch', 'breakfast')});
      
      function toggle(id){
        var el = $('#'+id)
        if (el.hasClass("active-white")){
          toggleOff(id);
          console.log('removing value from input_' + id);
        } else {
          toggleOn(id);
          console.log('adding value to input_' + id);
        }
      };

      function toggleRadio(id_on, idoff1, idoff2){
        var el = $('#'+id_on);
        if (el.hasClass("active-white")){
          toggleOff(id_on); 
        } else {
          toggleOn(id_on);
          toggleOff(idoff1);
          toggleOff(idoff2);
        };
      };

      function toggleOff(id){
        var el = $('#'+id);
        el.removeClass("active-white");
        $('#'+'input_'+id).val(0);
      };

      function toggleOn(id){
        var el = $('#'+id);
        el.addClass("active-white");
        $('#'+'input_'+id).val(1);        
      };

      function locate(){
        console.log('locating')
        // geoLocateAPI();
        if (navigator.geolocation){
          navigator.geolocation.getCurrentPosition(geoCode, err, {maximumAge: 50000, timeout: 20000, enableHighAccuracy: true});
        } else {
          console.log('Geolocation not supported')
        }
      };


      // var api_key = 'AIzaSyDkC04TyWleKErJeTq--Jhrp4DRYy7V0vI';
      // var geolocate_api = "https://www.googleapis.com/geolocation/v1/geolocate?key=";
      
      // function geoLocateAPI(){
      //   console.log(JSON.stringify({'test':'ip'}))
      //   $.ajax({
      //       'url': geolocate_api + api_key,
      //       'type': 'POST',
      //       'dataType' : 'json',
      //       'Content-Type': 'application/json', 
      //       'data': JSON.stringify({'considerIp':'false'}),
      //       'success': function(success) {
      //         console.log(success);
      //         geoCode(success.location.lat, success.location.lng);
      //   }}).fail(function(err) {
      //     console.log("An issue occurred: " + err)
      //     console.log(err)
      //   });
      // }

      // function geoLocateAPI(){
      //   console.log("falling back on GeoLocateAPI")
      //   xhr = new XMLHttpRequest();
      //   var url = geolocate_api + api_key

      //   xhr.open("POST", url, true);
      //   xhr.setRequestHeader("Content-Type", "application/json");

      //   xhr.onreadystatechange = function () { 
      //       if (xhr.readyState == 4 && xhr.status == 200) {
      //           var json = JSON.parse(xhr.responseText);
      //           console.log(json.location.lat+","+json.location.lng+","+json.accuracy);
      //           console.log(json);
      //       }
      //   };
        
      //   var data = JSON.stringify({"considerIp": "false"});
      //   xhr.send(data);
      // };



      function geoCode(pos){
        console.log(pos)

        var geocoder = new google.maps.Geocoder()
        var latlong = {lat: pos.coords.latitude, lng: pos.coords.longitude};

        console.log('latlong: '+latlong)
        geocoder.geocode({'location':latlong}, function(res, status) {
            if (status == 'OK'){
              fivers = res.filter(function(e){
                return (e.address_components.length == 5);
              });
              if (fivers.length > 0) {
                address = fivers[0];
              } else {
                address = res[0];
              };
              // address defined now
              $('#location-input').val(address.formatted_address);
              console.log(address);
            } else {
              console.log(status);
            }
            console.log(res);
        });
      };

      function err(err){
        alert('Position currently not available');
      };


    </script>