{% extends "base.html" %}
{% block content %}
        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Page, "data-page" contains page name -->
          <div data-page="index" class="page" id="grad">
            <!-- Scrollable page content -->
            <div class="page-content">
              <div class="content-block">

                <div class="swiper-container swiper-init" data-pagination=".swiper-pagination" data-speed="400" data-space-between="50">
                  <div class="swiper-wrapper">
                  {% for resto in restaurants %}
                    {% include "app_resto_page.html" %}
                  {% endfor %}
                  </div>
                  
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
     

  <div class="login-screen">
    <div class="view">
      <div class="page">
        <div class="page-content login-screen-content">
          <div class="login-screen-title">Ask Henry</div>
          <form id="email-screen-form">
            <div class="list-block">
              <div class="list-block-label">
              <p>Before you go, why don't you leave your email so we can stay in touch?</p>
              </div>
              <ul>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Email</div>
                    <div class="item-input">
                      <input type="text" name="email" placeholder="henry@askhenry.be" id="register-email">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list-block">
              <ul>
                <li><a href="#" onclick="register()" id="register-confirm" class="item-link list-button">Take me to my restaurant</a></li>
              </ul>
              <div class="list-block-label">
                <p><a href="#" onclick="advance()" class="close-login-screen">Continue without registering</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {% include "email_popup_scripts.html" %}
{% endblock %}
