  <div class="login-screen">
    <div class="view">
      <div class="page">
        <div class="page-content login-screen-content">
          <div class="login-screen-title">Ask Henry</div>
          <form>
            <div class="list-block">
              <ul>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Username</div>
                    <div class="item-input">
                      <input type="text" name="email" placeholder="henry@askhenry.be">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list-block">
              <ul>
                <li><a href="#" class="item-link list-button">Register</a></li>
              </ul>
              <div class="list-block-label">
                <p><a href="#" class="close-login-screen">Continue without registering</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>